---
import { CollectionEntry, getCollection } from "astro:content"

import { H1, Link, MDXComponents } from "@/components/solid"
import { constants } from "@/config"
import Page from "@/layouts/page.astro"

export const getStaticPaths = async () => {
  const posts = await getCollection("posts")
  return posts.map((post) => ({ params: { slug: post.slug }, props: post }))
}

const posts = (await getCollection("posts")).sort((a, z) => +new Date(z.data.date) - +new Date(a.data.date))
const post = Astro.props as CollectionEntry<"posts">
const tags = [...new Set(post.data.tags)].sort()
const { Content } = await post.render()

const index = posts.findIndex(({ id }) => id === post.id)
const prev = posts?.[index + 1]
const next = posts?.[index - 1]
---

<Page
  title={`${post.data.title} | Perry Raskin`}
  description={post.data.description}
  keywords={`blog, post, ${tags.join(", ")}`}
  image={`/images/${post.slug}.png`}
  type="article"
  date={post.data.date}
>
  {
    post.data.link && post.data.image ? (
      <div class="mx-auto max-w-4xl">
        <a href={post.data.link} target="_blank">
          <img src={post.data.image} class="mb-6 rounded-lg" />
        </a>
      </div>
    ) : (
      ""
    )
  }
  <H1>{post.data.title}</H1>
  <p class="">{post.data.description}</p>

  <div class="mt-5 text-sm">
    {
      post.data.cowritten ? (
        <>
          <span class="opacity-70">Cowritten with</span> <Link href="https://marianmolina.com"> Marian Molina</Link>
          <span class="mx-1"> — </span>
        </>
      ) : null
    }
    <span class="opacity-70">{post.data.date}</span>
  </div>

  <hr class="h-16 border-0" />

  <Content components={MDXComponents} />

  <form
    action="https://raskin.us19.list-manage.com/subscribe/post?u=215db57bccd5e8ac098d96353&id=51e8db47ba&f_id=008d42e4f0"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    class="validate"
    target="_blank"
  >
    <div
      class="mt-12 rounded-[24px] border border-white/60 bg-gradient-to-b from-neutral-100 to-white/70 dark:border-stone-950/60 dark:from-neutral-800 dark:to-neutral-900"
    >
      <div class="rounded-[23px] border border-black/10 dark:border-neutral-900/80">
        <div class="rounded-[22px] border border-white/50 dark:border-neutral-950">
          <div class="rounded-[21px] border border-neutral-950/20 dark:border-neutral-900/70">
            <div
              class="w-full max-w-[440px] rounded-[20px] border border-white/50 text-neutral-500 dark:border-neutral-700/50"
            >
              <div class="first:pt-6 last:pb-6">
                <div class="flex justify-center p-4">
                  <h3 class="text-lg font-semibold leading-tight text-neutral-900 dark:text-neutral-100">
                    Subscribe to updates from me?
                  </h3>
                </div>
              </div><div
                data-orientation="horizontal"
                role="none"
                class="h-[1px] w-full shrink-0 bg-slate-200 dark:bg-slate-800"
              >
              </div><div id="mc--email-input-wrapper" class="px-6 py-4">
                <div class="flex flex-col gap-4">
                  <label
                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                    for="email">Email</label
                  ><input
                    type="email"
                    class="flex h-10 w-full rounded-md border border-neutral-300 bg-white/80 px-4 py-2 text-sm placeholder-neutral-400 ring-offset-white file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-slate-500 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-slate-950 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 dark:border-neutral-700 dark:bg-neutral-800/80 dark:placeholder-neutral-500 dark:ring-offset-slate-950 dark:placeholder:text-slate-400 dark:focus-visible:ring-slate-300"
                    name="EMAIL"
                    id="mce-EMAIL"
                    value=""
                    control-id="ControlID-1"
                  />
                </div>
              </div><div
                data-orientation="horizontal"
                role="none"
                class="h-[1px] w-full shrink-0 bg-slate-200 dark:bg-slate-800"
              >
              </div>
              <div id="mce-responses" class="clear foot">
                <div class="response" id="mce-error-response" style="display: none;"></div>
                <div class="response" id="mce-success-response" style="display: none;"></div>
              </div>
              <div aria-hidden="true" style="position: absolute; left: -5000px;">
                <input type="text" name="b_215db57bccd5e8ac098d96353_51e8db47ba" tabindex="-1" value="" />
              </div>
              <div class="flex items-center justify-between gap-2 px-6 py-4">
                <button
                  class="w-full rounded-[12px] border-[1px] border-black/10 bg-gradient-to-b from-black/70 to-black p-[1px] transition duration-300 ease-in-out dark:border-[2px] dark:border-black dark:from-white dark:to-white/80"
                  type="submit"
                  name="subscribe"
                  control-id="ControlID-2"
                  value="Subscribe"
                  ><div
                    class="flex h-full w-full items-center justify-center gap-2 rounded-[10px] bg-gradient-to-b from-neutral-800 to-black px-4 py-2 text-sm text-white/90 transition duration-300 ease-in-out hover:from-stone-800 hover:to-neutral-800/70 active:bg-gradient-to-b active:from-black active:to-black dark:from-neutral-200 dark:to-neutral-50 dark:text-black/80 dark:hover:from-stone-200 dark:hover:to-neutral-200 dark:active:from-stone-300 dark:active:to-neutral-300"
                  >
                    <span>Subscribe</span>
                  </div></button
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <hr class="h-4 border-0" />

  <section class="my-8 text-sm">
    <div class="my-8 flex justify-center gap-4 sm:justify-end sm:gap-6">
      <Link
        href={`https://twitter.com/intent/tweet` +
          `?text=${post.data.title} — ${post.data.description}` +
          `&url=${constants.site}/blog/${post.slug}` +
          `&via=oedotme` +
          `&hashtags=${tags.join(",")}`}
      >
        Share on Twitter
      </Link>

      <Link href={`https://twitter.com/search?q=${constants.site}/blog/${post.slug}&src=typed_query`}>
        Discuss on Twitter
      </Link>
    </div>

    <div class="my-4 flex gap-8 text-sm">
      {
        prev ? (
          <Link class="mr-auto flex w-1/2 truncate rounded-sm py-2 text-left font-medium" href={`/blog/${prev.slug}`}>
            <span class="mr-2">←</span>
            <span class="flex-1 truncate">{prev.data.title}</span>
          </Link>
        ) : null
      }

      {
        next ? (
          <Link class="ml-auto flex w-1/2 truncate rounded-sm py-2 text-right font-medium" href={`/blog/${next.slug}`}>
            <span class="flex-1 truncate">{next.data.title}</span>
            <span class="ml-2">→</span>
          </Link>
        ) : null
      }
    </div>
  </section>

  <script is:inline>
    document.querySelectorAll(".copy-code").forEach((button) => {
      button.addEventListener("click", (event) => {
        navigator.clipboard
          .writeText(String(event.target.nextSibling?.textContent))
          .then(() => (event.target.textContent = "Copied!"))
          .catch(() => (event.target.textContent = "Not supported"))
      })
      button.addEventListener("blur", (event) => (event.target.textContent = "Copy"))
    })
  </script>
</Page>
