---
import { getCollection } from 'astro:content'

import { Link, List, ListItem } from '@/components'
import { constants } from '@/config'
import { Email, GitHub, Twitter } from '@/icons'
import Page from '@/layouts/page.astro'

const posts = (await getCollection('posts')).sort((a, z) => +new Date(z.data.date) - +new Date(a.data.date))
---

<Page
  title="Perry Raskin | Software Engineer"
  description="Software engineer and linux enthusiast interested in user/dev experience, design systems, statically typed languages and functional programming"
  keywords="personal, website, blog"
  image="/images/cover.png"
  type="website"
>
  <div
    class="mb-10 flex max-h-[500px] w-full max-w-[12rem] items-start justify-center overflow-hidden rounded-lg shadow-xl sm:max-w-[16rem]"
  >
    <img
      src="https://avatars1.githubusercontent.com/u/17967465?s=460&v=4"
      alt="Perry Raskin, WFH"
      title="Perry Raskin, WFH"
    />
  </div>
  <h1 class="mb-10 text-4xl font-bold">Hi, I'm Perry!</h1>

  <section class="mt-14 space-y-2">
    <p class="text-xl font-normal leading-loose sm:leading-loose">
      I'm leading the Web & Integrations front at{' '}
      <Link target="_blank" href="https://www.coverdash.com"> Coverdash </Link>
      .
    </p>
    <p class="text-xl font-normal leading-loose sm:leading-loose">
      I enjoy working on full stack applications using Next.js, Tailwind CSS, and other modern front-end technologies.
    </p>
    {
      false && (
        <p class="text-xl font-normal leading-loose sm:leading-loose">
          Currently, I'm working on{' '}
          <Link target="_blank" href="https://www.inviteable.app">
            {' '}
            Inviteable{' '}
          </Link>
          , an event-planning tool for a gathering of any size (in person or online).
        </p>
      )
    }

    <section class="mt-12 space-x-2">
      <Link href={constants.profile.links.email} classList={{ ['text-default']: true }} aria-label="Email">
        <Email />
      </Link>

      <Link href={constants.profile.links.github} classList={{ ['text-default']: true }} aria-label="GitHub">
        <GitHub />
      </Link>

      <Link href={constants.profile.links.twitter} classList={{ ['text-default']: true }} aria-label="Twitter">
        <Twitter />
      </Link>
    </section>

    <section class="mb-16">
      <h2 class="mt-28 text-2xl font-bold">Recent posts</h2>
      <List class="mt-12">
        {
          posts.slice(0, 3).map((post) => (
            <ListItem class="mt-10 flex flex-col">
              <Link href={`/blog/${post.slug}`}>
                <span class="block text-sm font-medium opacity-60">{post.data.date}</span>
                <h3 class="mt-2 text-lg font-semibold">{post.data.title}</h3>
                <p class="mt-2">{post.data.description}</p>
              </Link>
            </ListItem>
          ))
        }
      </List>

      <Link href="/blog" class="mt-10 inline-block text-sm font-medium">
        View all posts <span class="ml-2">→</span>
      </Link>
    </section>

    <section class="mb-16">
      <h2 class="mt-28 text-2xl font-bold">Latest projects</h2>

      <List class="mt-12 list-none space-y-4">
        {
          constants.projects.slice(0, 3).map(({ name, description, link, icon }) => (
            <ListItem>
              {icon && <img src={icon} alt="Lunch mini" class="mr-2 inline h-8 w-8 rounded-full shadow-lg" />}
              <Link href={link}>{name}</Link> — {description}
            </ListItem>
          ))
        }
      </List>

      <Link href="/projects" class="mt-10 inline-block text-sm font-medium">
        View all projects <span class="ml-2">→</span>
      </Link>
    </section>
  </section>
</Page>
